.ul{
    list-style-type:none;
}
.div1{
    background-image:radial-gradient(greenyellow,linen);
}
.div2{
    background-image:radial-gradient(lightskyblue,linen);
}
.div3{
    background-image: radial-gradient(magenta,linen);
}
.div4{
    background-image: radial-gradient(orange,linen);
}
.div5{
    background-image: radial-gradient(palegreen,linen);
}
.div6{
    background-image:radial-gradient(cyan,linen);
}

#link1:link{
    color:blue;
}
#link1:active{
    color:darkmagenta;
}
#link1:hover{
    color:black;
}
#link1:visited{
    color:green;
}
#link1{
    text-decoration: none;
}
#button{
    background-color: yellow;
    color:red;
    padding: 20px;
    border-radius: 6px;
    border:0px;
    
}
.h3{
    color:navy;
}